h2 #{user.getDisplayName()}'s <strong>#{user.getFavouritesCount()}</strong> favourites

- each favourite in favourites
    div(class='favtweet')
        div(class='text')
            #{favourite.text}
        span(class='author')<a href="http://twitter.com/#{favourite.user.screen_name}">@#{favourite.user.screen_name}</a>
